*{margin: 0 ;}
.conteiner{margin: 0 auto;
max-width: 60% ;}


.conteinerc{height:100% ;
width: 100%;}


.cabesalho{
    width:100%;
    height: 100px;
     background-color:rgb(238, 195, 52);
 display: flex;
align-items:center;
justify-content: center;
gap:50px ;
}
.rodape {
    background-color: #584b2f; 
    color: white;
    text-align: center;
    padding: 20px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    font-size: 14px;}
    
    .titulo{font-family:fantasy;
    color: aliceblue;
font-size: 30px;}

.divImg{ height: 70px;}
.logo{height: 100%;} 


.conteiner2{height:100% ;
    width: 100%;
    display: flex;
align-items: center;
justify-content: center;}
    .img1{
        width: 500px;
    }

    .topo{width: 500px;
        height: 200px;
        background: url(https://www.receitasnestle.com.br/sites/default/files/srh_recipes/a7e0cd2ad28375c69f8b96c7dfc91645.jpg) ;
        background-position: 60% 20%;
         background-size: cover;
         background-repeat: no-repeat;
         font-size: 25px;
         color: aliceblue;
         display: flex;
         align-items: center;
     justify-content: center;   }
        
     .caixa{width: 300px;
        height: 200px;
        background-color: rgb(16, 228, 101);
        border-radius: 6%; margin: 30px 20px 10px 10px;
        background: url();
        background-color: aquamarine;
        background-position: 50% 20%;
         background-size: cover;
         background-repeat: no-repeat;}



         .conteiner3{width: 50%;
            margin: 0 auto;
              display: grid;
              gap:10px ;
              grid-template-rows: repeat(8, 200px)  ;
             
                             
          }
          
          
          
          .gridItem{width: 300px;
          height: 200px;
          }
          
       .caixa1{background-color: aquamarine;
    border-radius: 3PX;}
           
        
         .ali{display: flex;
        align-items: center;
    justify-content: center;}